<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee                       https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
  
   <servlet>
  	<servlet-name>form</servlet-name>
  	<servlet-class>com.min.edu.servlet.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>form</servlet-name>
  	<url-pattern>/formServlet.servlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>
