<configuration scan="true">
	
	<property name="LOG_PATH" value="./logs" />
	
	<property name="LOG_FILE_NAME" value="answerboard" />
	
	<property name="LOG_PATTERN"
		value="%-5level %d{yy-MM-dd HH:mm:ss}[%thread] [%logger{0}:%line] - %msg%n" />
	
	<property name="LOG_LEVEL" value="INFO" />

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern> [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} : %30logger{5} -
				%msg%n </Pattern>
		</layout>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>

		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			
			<fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}_%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">

				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	
	<logger name="org.mybatis" level="DEBUG" />
	<logger name="java.sql" level="DEBUG" />
	<logger name="jdbc.sqlonly" level="DEBUG" />
	<logger name="jdbc.sqltiming" level="DEBUG" />
	<logger name="jdbc.resultsettable" level="DEBUG" />
	<logger name="jdbc.resultset" level="DEBUG" />
	

	<root level="${LOG_LEVEL}">

		<appender-ref ref="CONSOLE" />

		<appender-ref ref="FILE" />
	</root>
</configuration>