<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee                       https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
</web-app>

  <!-- TODO 002 WAS 설정을 위한 web-app dtd 6.0선언 : apache tomcat 10.1 -->